SECRET_KEY=clave-secreta-lms-upq-2026
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/lms_upq
MAX_CONTENT_LENGTH=2147483648
UPLOAD_FOLDER=uploads/materiales

ADMIN_NOMBRE=Admin
ADMIN_APELLIDO_PATERNO=UPQ
ADMIN_APELLIDO_MATERNO=Sistema
ADMIN_CORREO=admin@upq.edu.mx
ADMIN_PASSWORD=pon-aqui-una-contraseña-segura